* {
  box-sizing: border-box;
  margin: 0;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.container {
  display: grid;
  grid-template-areas:
    "deniel deniel deniel deniel jon  kira"
    "deniel deniel deniel deniel jon kira"
    "deniel deniel deniel deniel jon kira"
    "jen patric patric patric patric kira"
    "jen patric patric patric patric kira"
    "jen patric patric patric patric kira";
  gap: 15px;
  padding: 15px;
}
.boxviol {
  border-radius: 8px;
  background: #733fc8;
  grid-area: deniel;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.boxhed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 76px;
}

.name {
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  color: #ffffff;
}
.status {
  font-size: 11px;
  font-weight: 500;
  line-height: 11px;
  text-align: left;
}
.heading {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
}
.about {
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #cfcfcf;
  justify-content: center;
  align-items: center;
  display: grid;
  gap: 5px;
}

.boxgray {
  border-radius: 8px;
  background: #48556a;
  grid-area: jon;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.heading2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
}
.about2 {
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
}
.boxwhite {
  border-radius: 8px;
  opacity: 0px;
  background: #ffffff;
  grid-area: jen;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.heading3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #48556a;
}
.about3 {
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #48556a;
}
.boxblack {
  border-radius: 8px;
  background: #19202d;
  grid-area: patric;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 5px;
  padding: 15px;
}
.heading4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #ecf2f8;
}
.about4 {
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
}
.boxlarge {
  border-radius: 8px;
  opacity: 0px;
  background: #ffffff;
  grid-area: kira;
  display: grid;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  padding: 15px;
}
.heading5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #48556a;
}
.about5 {
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #48556a;
}
#color {
  color: white;
}
.colorw {
  color: #ffffff;
}
.colorg {
  color: #48556a;
}
.img {
  width: 28px;
  height: 28px;
}
.child_div {
  margin: 0;
  padding: 0;
}
.boxspace {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
